* {
  box-sizing: border-box;
}

.about {
  max-width: 200px;
  margin-left: 20px;
  font-family: consolas, Microsoft Yahei, monospace;
  line-height: 1.5;
}

.about .bold {
  font-weight: bold;
}

.screen {
  display: block;
  user-select: none;
  cursor: default;
}

.gallery .svg,
.gallery .screen {
  background: #757575;
}

.area-button {
  fill: transparent;
  cursor: pointer;
  transition: stroke 250ms;
}

.area-button:hover {
  stroke: #e91e63;
}

.text-area {
  fill: transparent;
  cursor: pointer;
}

.text-area:hover {
  fill: #865b69;
}

.text-area.selected,
.text-area:active {
  fill: #e91e63;
}

.text-area.disabled {
  fill: transparent;
  cursor: default;
}
